.Questions {
  display: flex;
  flex-direction: column;
  justify-content: left;

  &_circles {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    &_circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #89d1f8;
    }
  }
  &_questionNumber {
    color: #9a9a9a;
    font-family: "Inter", sans-serif;
    font-size: calc(12px + 1vmin);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 38px 0;
  }
  &_question {
    color: #000;
    font-family: "Inter", sans-serif;
    font-size: calc(12px + 2vmin);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 32px 0;
  }
  &_answers {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    &_single {
      display: flex;
      flex-direction: row;
      margin: 0 0 15px 0;

      &_input {
        margin: 0 10px 0 0;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
      &_text {
        color: #000;
        font-family: "Inter", sans-serif;
        font-size: calc(12px + 1vmin);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
      }
    }
  }
  &_buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

    &_button {
      padding: 10px 15px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 5px;
      border: 0;
      font-family: "Inter", sans-serif;
      font-size: calc(11px + 1vmin);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: pointer;
    }
    .back {
      color: #000000;
      background-color: #ffffff;
      margin-right: 10px;
    }
    .continue {
      color: #ffffff;
      background-color: #00a5ff;
    }
    .hidden {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}
